*.db
*.log
*.xlsx
*.csv
*.spec
*.ico
IT3(t)/
venv/
__pycache__/
*.pyc
.env
.idea/
import_trust_data_with_db_creation.py
init_db.py
stop_and_backup.py
RossPienaar_IT3(t).py
Document1.txt
drop_tables.sql
